[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stpphawkes"]
	path = stpphawkes
	url = https://github.com/sandialabs/stpphawkes
